{% extends "registration/login_base.html" %}
{% load static %}


{% block title %}Access Self-Care{% endblock %}

{% block content %}

<!--begin::Wrapper-->
<div class="w-lg-550px bg-white rounded shadow-sm p-10 p-lg-15 mx-auto">
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-dark mb-3">Vérifiez votre boite e-mail</h1>
        <!--end::Title-->
        <!--begin::Link-->
        <div class="text-gray-400 fw-bold fs-4  mb-15">Vous recevrez sous peu un e-mail contenant les instructions pour réinitialiser votre mot de passe.
        </div>
        {% comment %} <div style="border-bottom: 1px solid #eeeeee; margin: 15px 0"></div> {% endcomment %}
        <div class="text-gray-400 fw-bold fs-4">
							<a href="{% url 'base:login' %}" class="btn btn-primary btn-lg fw-bolder">Ecran de connexion</a>
        </div>
        <!--end::Link-->
        <div class="text-gray-700 fw-bold fs-4 pt-7">Vous n'avez pas reçu d'e-mail?
						<a href="{% url 'base:password_reset' %}" class="text-primary fw-bolder">Réessayez</a>
        </div>
    </div>
</div>
<!--end::Wrapper-->
{% endblock %}