{% extends "registration/login_base.html" %}
{% load static %}

{% block title %}Access Self-Care{% endblock %}

{% block content %}

<!--begin::Wrapper-->
<div class="w-lg-550px bg-white rounded shadow-sm p-10 p-lg-15 mx-auto">
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-dark mb-3">Réinitialisation réussie</h1>
        <!--end::Title-->
        <!--begin::Link-->
        <div class="text-gray-400 fw-bold fs-4 mb-15">Votre mot de passe a bien été modifié.
        </div>

        <div class="text-gray-400 fw-bold fs-4">
							<a href="{% url 'base:login' %}" class="btn btn-primary btn-lg fw-bolder">Ecran de connexion</a>
        </div>
        <!--end::Link-->
    </div>
</div>
<!--end::Wrapper-->
{% endblock %}